body {
    margin-top: 20px;
    font-family: 'PingFang SC','Hiragino Sans GB','Helvetica Neue','Microsoft Yahei','WenQuanYi Micro Hei','sans-serif';
    font-size: 1.5em;
}
nav ul, footer ul {
    font-family:'PingFang SC','Hiragino Sans GB','Helvetica Neue','Microsoft Yahei','WenQuanYi Micro Hei','sans-serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-family:'PingFang SC','Hiragino Sans GB','Helvetica Neue','Microsoft Yahei','WenQuanYi Micro Hei','sans-serif';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts li {
    list-style: none;
}

ul.posts li span{
    color: #999;
    font-size: 0.8em;
}

ul.posts li a,
ul.posts li a:hover {
    text-decoration: none;
    font-size: 1em;
    color: #00a;
}
ul.posts li a:hover {
    text-decoration: underline;
}

.container {
    background-color: #f9f9f5;
}
.container .content-body {
    background-color: #f9f9f5;
    padding: 4px;
    text-align: justify;
}
.container .content-body p {
    line-height: 1.8em;
}