body {
    margin-top: 20px;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.7em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts li {
    list-style: none;
}

ul.posts li span{
    color: #999;
    font-size: 0.8em;
}

ul.posts li a,
ul.posts li a:hover {
    text-decoration: none;
    font-size: 1.2em;
    color: #00a;
}
ul.posts li a:hover {
    text-decoration: underline;
}

.container {
    background-color: #2D2C2C;
}
.container .content-body {
    background-color: #ccc;
    padding: 4px;
    text-align: justify;
}